.payment{
 
   
    .header__payment{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 28px 30px 24px;
        .payment_address{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .payment_address_content {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                color: #ee4d2d;
                margin-bottom: 20px;
                text-transform: capitalize;
                flex: 1 1 auto;
                ._9VHkyQ {
                    display: flex;
                    margin-right: 9px;
                }
                .icon-location-marker {
                    color: #ee4d2d;
                    fill: currentColor;
                }
                &__title{

                }
                
            }

            
            
        }
        .payment_address_choose {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            .Y3QA5S {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                word-break: break-word;
                ._3yvPt8 {
                    font-weight: 700;
                    color: #222;
                }
                .iXqine {
                    margin-left: 20px;
                    word-break: break-word;
                }
                .j3tnPu {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #929292;
                    margin-left: 30px;
                    text-transform: capitalize;
                    flex-shrink: 0;
                }
            }

            .payment_change {
                color: #05a;
                text-transform: uppercase;
                margin-left: 60px;
                font-weight: 500;
                cursor: pointer;
            }
            
            
        }
        
        .stardust-button {
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            border: 1px solid rgba(0,0,0,.26);
            background-color: #fff;
            color: rgba(0,0,0,.87);
            padding: 8px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            border-radius: 2px!important;
            color: #555;
            text-transform: capitalize;
            outline: none;
            svg {
                fill: #555;
                margin-right: 10px;
            }
            ._5qwP-1 {
                width: 12px;
                fill: #555;
                margin-right: 5px;
            }
        }
    }

    .payment_address_groupbutton{
        display: flex;
        button:first-child{
            margin: 0px 15px;
        }
        button:last-child{
            width: 100px;
            height: 40px;
            
        }
    }

    .stardust-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        background: #fff;
        border: 1px solid rgba(0,0,0,.09);
        
        border-radius: 2px!important;
        color: #555;
        text-transform: capitalize;
        outline: none;
    }
    .stardust-button--primary {
        margin-top: 25px;
        background: #ee4d2d !important;
        color: #fff !important;
        padding: 10px 24px;
        width: 150px;
        height: 40px;
    }
    

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default radio button */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the radio button is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #2196F3;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .container .checkmark:after {
           top: 6px;
          left: 6px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
      }

      

}

.list__item{
    .header__list{
        height: 50px;
        padding: 24px 30px 0;
        font-size: 1.5rem;

        border-radius: 3px;
        display: flex;
        align-items: center;    
    .HTDM2R:first-child {
        justify-content: flex-start;
        text-align: left;
        flex: 4;
    }
    .HTDM2R_price {
        margin-left: 30px;
    }
    .obwca8 {
        flex: 1;
        
    }
    .HTDM2R_qualiti{
        margin-left: 40px;
    }
    .HTDM2R {
        flex: 1;
        justify-content: center;
        text-align: center;
    }
    .HTDM2R:last-child {
        justify-content: flex-end;
        text-align: right;
        flex: 1;
    }
    }


   
}